.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding:20px;
  margin-top: 50px;
}

.title {
  color: grey;
  font-size: 18px;
}
input{
width:250px;
height: 40px;
border: 2px solid rgb(0, 0, 0);
border-radius: 25px;
padding:10px;
}




